<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
   <h1>
      Add Links
    </h1>
        <form id="newPostForm" method="post" action="/api/links">
          <input type="url" name="longURL" placeholder="Enter long URL" required>
          <input type="text" name="code" placeholder="Custom short code (optional)">
          <button class="full-width" type="submit">
            Submit
          </button>
        </form>
  </div>
</body>

</html>
